# mongoDB learning  credentials

username_l = rahulsayon

pass_l = 123456

MONGO_learning_URI=""

#client gave us thisss
MONGO_URI=""


# observability 
LOGFIRE_API_KEY=""


# security 

#guardrails
GROQ_API_KEY =""

#GATEWAY
PORTKEY_API_KEY = ""

PORTKEY_GROQ_PROVIDER="@clothing"
